<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:with="g_memberId=${session.loginMember.memberId}"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 보기</title>
</head>
<body>
<div>
  <form action="">
    <div><label for="">글번호</label><input type="text" readonly value="1"></div>
    <div><label for="">작성자</label><input type="text" readonly value="user1@kh.com"></div>
    <div><label for="">제목</label><input type="text" readonly value="원글제목"></div>
    <div><label for="">내용</label><textarea type="text" readonly>원글내용</textarea></div>
  </form>
</div>
<div>
  <form>
    <div><label for="">댓글</label><textarea type="text"></textarea><button btn='addBtn'>등록</button></div>
  </form>
</div>
<div id='replyList'>
  <div data-reply-id = '1'>
    <div><span>user2@kh.com</span><span>사용자2</span></div>
    <div> 댓글 내용2 </div>
    <div><button>수정</button><button>삭제</button>
    </div>
    <div data-reply-id = '3'>
      <div><span>user3@kh.com</span><span>사용자3</span></div>
      <div> 댓글 내용3 </div>
      <div><button>수정</button><button>삭제</button>
      </div>
      <div data-reply-id = '2'>
        <div><span>user4@kh.com</span><span>사용자3</span></div>
        <div> 댓글 내용4 </div>
        <div><button>수정</button><button>삭제</button>
        </div>
      </div>

      <script th:inline="javascript">

        //const memberId =  [[${g_memberId}]];
        ///const memberEmail = [[${session.loginMember.email}]];
        //const memberNickname = [[${session.loginMember.nickname}]];
        ///const memberRole = [[${session.loginMember.gubun}]];

        const memberId =  1;
        const memberEmail = 'user1@kh.com';
        const memberNickname = '사용자1';
        const memberRole = 'M0101';

        console.log(memberId,memberEmail,memberNickname,memberRole);

        displayList();

        function displayList(){
           //목록가져오기
        }
      </script>
</body>
</html>