

<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 조회</title>
  <link rel="stylesheet" href="/css/board/detailForm.css">
  <script th:inline="javascript">
    window.totalCnt = [[${totalCnt}]];
    window.cpgs = [[${cpgs}]];
    window.cp = [[${cp}]];
  </script>
  <script type="module" src="/js/board/detailForm.js" async></script>
</head>
<body>
<!-- 현재 게시글 번호 -->
<input type="hidden" id="currentCnum" th:value="${board.userId}" />
<!-- 현재 로그인한 사용자 아이디 -->
<input type="hidden" id="currentPname" th:value="${session.loginMember.nickname}" />
<h3>게시글 조회</h3>
<form action="#" method="post">
  <div><label for="userId">아이디</label><input id="userId" type="text" th:value="${board.userId}" readonly></div>
  <div><label for="title">제목</label><input id="title" name="title" type="text" th:value="${board.title}" readonly></div>
  <div><label for="contents">내용</label><input id="contents" name="contents" type="textarea" th:value="${board.contents}" readonly></div>
  <div><label for="pname">작성자</label><input id="pname" name="pname" type="text" th:value="${board.pname}" readonly></div>
  <div><label for="cdate">작성날짜</label><input id="cdate" name="cdate" type="text" th:value="${#temporals.format(board.cdate, 'yyyy년 MM월 dd일 a hh시 mm분')}" readonly></div>
  <div class="btns">
    <input id="modifyBtn" type="button" value="수정">
    <input id="deleteBtn" type="button" value="삭제">
    <input id="listBtn" type="button" value="목록">
  </div>
</form>

<h4>댓글</h4>
<div class="d1">
  <div class="c1">
    <textarea id="comment" cols="30" rows="3"></textarea>
    <button id="addBtn">등록</button> <!-- ID 수정 -->
  </div>
  <div id="commentErrMsg"></div>

  <ul class="list">
    <!-- 댓글채워넣기 -->
  </ul>

  <template id="readMode">
    <li class="item read"><span class="reply"></span>
      <button class="cmodifyBtn">수정</button><button class="cdelBtn">삭제</button>
    </li>
  </template>
  <template id="modifyMode">
    <li class="item modi">
      <input type="text" style="width: 400px;"><button class="csaveBtn">저장</button><button class="ccancelBtn">취소</button>
    </li>
  </template>
  <template id="err">
    <p class="errmsg"></p>
  </template>
</div>

<!-- 페이징을 표시할 영역 -->
<div id="pagination"></div>

<dialog id="delModal">
  <p>삭제하시겠습니까?</p>
  <form action="" method="dialog">
    <button id="cancelBtn">취소</button>
    <button id="delItemBtn">삭제</button>
  </form>
</dialog>

</body>
</html>